<app-navbar></app-navbar>
<div class="container" id="container">
  <div class="form-container sign-up-container">
      <form>
          <h3>Create Account</h3>
          <!-- <span>or use your email for registration</span> -->
          <input type="text" placeholder="FirstName" [(ngModel)]="userObj.firstName" name="firstNameeee"/>
          <input type="text" placeholder="LastName" [(ngModel)]="userObj.lastName" name="lastName"/>
          <input type="text" placeholder="CIN" [(ngModel)]="userObj.CIN" name="CIN"/>
          <input type="email" placeholder="Email" [(ngModel)]="userObj.email" name="email"/>
          <input type="password" placeholder="Password" [(ngModel)]="userObj.password" name="password"/>
          <input type="text" placeholder="role" [(ngModel)]="userObj.role" name="role"/>
          <button (click)="signUpp()">Sign Up</button>
      </form>
  </div>
  <div class="form-container sign-in-container">
      <form>
          <h1>Sign in</h1>
          <input type="email" placeholder="Email" [(ngModel)]="userauthObj.signInEmail" name="signInEmail"/>
          <input type="password" placeholder="Password" [(ngModel)]="userauthObj.signInPassword" name="signInPassword"/>
          <a href ="forget">Forgot your password?</a>
          <a href="odkhol">go to the session</a>
          <button (click)="signInn()">Sign In</button>
      </form>
  </div>
  <div class="overlay-container">
      <div class="overlay">
          <div class="overlay-panel overlay-left">
              <h1>Welcome Back!</h1>
              <p>To keep connected with us please login with your personal info</p>
              <button class="ghost" (click)="signIn()">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
              <h1>Hello, Friend!</h1>
              <p>Enter your personal details and start journey with us</p>
              <button class="ghost" (click)="signUp()">Sign Up</button>
              <div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- <footer>
  <p>
      Created with <i class="fa fa-heart"></i> by
      <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
      - Read how I created this and how you can join the challenge
      <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
  </p>
</footer> -->
