
    <!-- Use Angular component selectors -->
    <app-navbar></app-navbar>
    <!-- <app-chatbot></app-chatbot> -->
    <div id="one">
        <div class="content">
            <div class="text-content">
                <h1 class="white">Bringing our services to your <strong>Home!</strong></h1>
                <h4 class="blackish">Say goodbye to long queues! Experience the convenience of<strong> online municipality</strong> services. <strong>Faster</strong> and <strong>easier</strong> than ever before!</h4>
                <div class="two-button">
                    <a class="t-btn btn" href="connect">Connect</a>
                </div>
            </div>
        </div>
    </div>
    <section id="one-half" class="goblack">
        <span><img src="https://i.pinimg.com/736x/ee/c3/3d/eec33dc809eab1268309274b790e4e09.jpg" alt=""></span>
        <div class="half-content">
            <div class="half__text">
                <h1>About Us</h1>
                <p>Orci urna. In et augue ornare, tempor massa in, luctus sapien. Proin a diam et dui fermentum dolor molestie vel id neque. Donec sed tempus enim, a congue risus. Pellen tesqu.</p>
            </div>
            <div class="half__boxes">
                <div class="box">
                    <span href="#"><i class="fas fa-paw logo"></i></span>
                    <h2>Our Mission</h2>
                    <p>In a diam et dui elit, orci urna vel id neque. Donec sed tempus enims.</p>
                </div>
                <div class="box">
                    <span href="#"><i class="fas fa-paw logo"></i></span>
                    <h2>Our Vision</h2>
                    <p>In a diam et dui elit, orci urna vel id neque. Donec sed tempus enims.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="two">
        <div class="heading">
            <h1>What We Do</h1>
            <p class="lightblack">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, eaque ipsa quae ab illo inventore.</p>
        </div>
        <div class="container">
          <div class="info">
              <span><img src="./foot-of-newborn-baby.png" alt=""></span>
              <div class="info__text">
                  <h1>Register NewBorn</h1>
                  <p>Complete the form to register your newborn conveniently from the comfort of your own home.</p>
                  <a href="odkhol" class="w-btn btn">Register NewBorn</a> <!-- Transforming READ MORE into button -->
              </div>
          </div>
          <div class="info">
              <span><img src="./translate-birth-certificates.png" alt=""></span>
              <div class="info__text">
                  <h1>Get birth certificate</h1>
                  <p>Obtain your birth certificate with just a click.</p>
                  <button class="w-btn btn">Get Certificate</button> <!-- Transforming READ MORE into button -->
              </div>
          </div>
          <div class="info">
              <span><img src="./building-permit.png" alt=""></span>
              <div class="info__text">
                  <h1>Get License</h1>
                  <p>Avoid long lines and simply submit your license request here.</p>
                  <button class="w-btn btn">Get Liscence</button> <!-- Transforming READ MORE into button -->
              </div>
          </div>
      </div>
    </section>
    <!-- Use Angular component selectors -->
    <!-- <app-footer></app-footer> -->

